* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #0a0a0a;
  --bg-secondary: #111111;
  --green: #00ff88;
  --green-dim: #00cc6a;
  --text-primary: #f1f1f1;
  --text-secondary: #a0a0a0;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Segoe UI", sans-serif;
}